:root {
    --primary-Color: #FFFFFF;
    --secondary-Color: #e3e3e3;
    --utility-Color: #990F0F;
    
    --primary-Text-Color: #322f2f;
    --search-Color: #f2f2f2;
    --search-Border: #e3e3e3;
    --search-Text: #060606;
    --keyword-Text: #060606;
    --keywords-Background: #f2f2f2;
    --footer-button-color: #746e6e;
}

body {
    background-color: var(--primary-Color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

main {
    width: 100%;
    text-align: center;
}

.keywords-container {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    width: 70vw;
    flex-wrap: wrap;
    background-color: var(--keywords-Background);
    border: 2px solid var(--secondary-Color);
    margin: 5px auto 10px auto;
    align-items: center;
    justify-content: center;
}

.searchTerm-block {
    margin: 5px;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    border: none;
    /* fake button transparency */
    background: var(--keywords-Background);
}

.searchTerm-block:hover {
    text-decoration: line-through;
}

.searchTerm-block:focus {
    text-decoration: line-through;
}

.blockWord-block {
    /*  just for block terms */
    color: var(--utility-Color);
}

.keyword-block {
    color: var(--keyword-Text);
}

.browser-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-name {
    margin: 20px auto 0px auto;
    font-size: clamp(3rem, 4vw, 7rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-motto {
    color: var(--primary-Text-Color);
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin-top: 5px;
}

.search-bar {
    width: 65%;
    height: 30px;
    justify-content: center;
    background-color: var(--search-Color);
    color: var(--search-Text);
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: 2px solid var(--utility-Color);
    border: none;
}


.main-search-bar-label {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

.result-card {
    text-align: left;
    margin: 25px auto;
}

.bookmark-button {
    width: 30px;
    height: 30px;
    margin: auto;
}

.bookmarked {
    background-color: var(--utility-Color);
}

/* list of bookmarks e.g. cooking, studying. will display when you click bookmark button */
.bookmarks-container {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 200px;
    /* Made it a bit wider */
    height: auto;
    min-height: 75px;

    background-color: var(--primary-Color);
    border: 1px solid var(--search-Border);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
    /* Make sure it's on top */
    border-radius: 4px;
}

/* list of websites */
.bookmark-list {
    display: flex;
    flex-direction: column;
}

.footer-button {
    width: 100px;
    height: 40px;
    background-color: var(--footer-button-color);
    color: var(--primary-Color);
    border: none;
    border-radius: 10%;
    margin: 10px;
}

.reccomended-searches {
    margin-top: 10px;
    border-top: dashed 3px;
}

.description-container {
    display: flex;
    flex-direction: row;
}