:root {
    --primary-Color: #FFFFFF;
    --primary-Text-Color: #322f2f;
    --search-Color: #f2f2f2;
    --search-Border: #e3e3e3;
    --search-Text: #060606;
    --button-Color: #e3e3e3;
    --button-Text: #e3e3e3;
}

body {
    background-color: var(--primary-Color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

main {
    width: 100%;
    text-align: center;
}


.browser-header {
    display: flex;
}

.site-name {
    margin: 20px auto 0px auto;
    font-size: clamp(3rem, 4vw, 7rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.search-motto {
    color: var(--primary-Text-Color);
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin-top: 5px;
}

.search-bar {
    width: 65%;
    height: 30px;
    justify-content: center;
    background-color: var(--search-Color);
    color: var(--search-Text);
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-search-bar-label {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-button {
    width: 125px;
    height: 30px;
    margin-top: 10px;
}

.result-card {
    text-align: left;
    margin: 10% auto;
}


.reccomended-searches {
    margin-top: 10px;
    border-top: dashed 3px;
}