:root {
    --primary-Color: #FFFFFF;
    --primary-Text-Color: #322f2f;
    --search-Color: #f2f2f2;
    --search-Border: #e3e3e3;
    --search-Border-Focus: #95e1f4;
    --search-Text: #060606;
    --button-Color: #e3e3e3;
    --button-Text: #e3e3e3;
    --keyword-Text: #060606;
    --keywords-Background: #f2f2f2;
    --keywords-Border: #e3e3e3;
    --blocked-Keyword-Text: #990F0F;
}

body {
    background-color: var(--primary-Color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

main {
    width: 100%;
    text-align: center;
}

.keywords-container {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    width: 70vw;
    flex-wrap: wrap;
    background-color: var(--keywords-Background);
    border: 2px solid var(--keywords-Border);
    margin: 5px auto 10px auto;
    align-items: center;
    justify-content: center;
}

.keyword-block {
    margin: 5px;
    font-size: clamp(1rem, 1.5vw, 2.5rem);

    border: none;
    /* fake button transparency */
    background: var(--keywords-Background);
}

.keyword-block:hover {
    text-decoration: line-through;
}

.keyword-block:focus {
    text-decoration: line-through;
}

.update-reminder-label {
    color: var(--blocked-Keyword-Text);
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    visibility: hidden;
}

.blockWord-block {
    margin: 5px;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    color: var(--blocked-Keyword-Text);

    border: none;
    /* fake button transparency */
    background: var(--keywords-Background);
}

.blockWord-block:hover {
    text-decoration: line-through;
}

.blockWord-block:focus {
    text-decoration: line-through;
}

.browser-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-name {
    margin: 20px auto 0px auto;
    font-size: clamp(3rem, 4vw, 7rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-motto {
    color: var(--primary-Text-Color);
    font-size: clamp(2rem, 3vw, 5rem);
    font-family: "spalla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin-top: 5px;
}

.search-bar {
    width: 65%;
    height: 30px;
    justify-content: center;
    background-color: var(--search-Color);
    color: var(--search-Text);
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: 2px solid var(--search-Border-Focus);
    border: none;
}


.main-search-bar-label {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-button {
    width: 125px;
    height: 30px;
    margin-top: 20px;
}

.result-card {
    text-align: left;
    margin: 25px auto;
}


.reccomended-searches {
    margin-top: 10px;
    border-top: dashed 3px;
}